{{ define "main" }}
<h1>{{ .Title }}</h1>

<!-- {{ .PublishDate.Format "Jan. 2, 2006" }} -->
<!-- {{ with .Params.linkedin }}
    <a href="{{ . }}">Linkedin</a>
{{ end }} -->
{{if .Params.image }}
{{ $image := .Page.Resources.GetMatch .Params.image }}
<a href="{{ .Permalink }}">
{{ with $image }}
    {{ $thumb := .Resize "400x" }}
    <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class ="image-board">
{{end}}
</a>
{{end}}
<br/><br/>
{{ .Content }}
{{ with .Params.twitter }}
    <a href="{{ . }}">このページをTwitterで共有</a>
{{ end }}
{{ template "_internal/disqus.html" . }}
{{ end }}